@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif
}
html{
    scroll-behavior: smooth;
}
/* -------------------------------header----------------------- */
header{
    background-color: #1b1f24;
    padding-top: 20px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    color: #b15dff;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;    
}

header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 25px;
}
header ul li a{
    text-decoration: none;
    color: #fff;
}
header ul li a:hover{
    color: #b15dff;
}
/*header-------------button--------------*/
header a>.btn{
    padding: 10px 20px;
    background-color: #1b1f24;
    border: 1px solid #b15dff;
    color: #b15dff;
    text-decoration: none;
    border-radius: 5px;
    
}
header a>.btn:hover{
    cursor: pointer;
    background-color:#b15dff;
    color: #1b1f24;
}
/* ------------------hero section--------------- */

section.hero-img{
    background-color: #1b1f24;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 90px 100px 0 100px;
    justify-content: space-between;
}
/* ----------------name ------------------------- */
.hero-title{
    font-size: 42px;
    font-weight: 900;
}
.greeting{
    font-weight:400;
}
.full-name{
    color: #b15dff;
}
/* --------------------para------------------ */
.section-para{
    color: azure;
    font-weight: 250;
}
/* -----------icon--------------------- */
.social-icon{
    margin: 10px 0;
}
ul.social-icon {
    display: flex;
    list-style-type: none;
}
.social-icon li{
    margin-right: 10px;
}
.social-icon li a{
    color: #fff;
    text-decoration: none;
}
.social-icon li a:hover{
    color: #b15dff;
}
/* -----------------hero button ------------------- */

.hero-button button{
    margin-right: 10px;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}
.btn.hire-btn{
    background-color: #b15dff;
    font-weight: bold;
    border-radius: 5px;
}
.btn.hire-btn:hover{
    background-color: #c48afa;
}
.btn.cv-btn{
    color: #b15dff;
    border-radius: 5px;
    background-color: #1b1f24;
    border: 1px solid #b15dff;
}
.btn.cv-btn:hover{
 background-color: #b15dff ;
 color: #000;
}

/* -------------------------about section---------------- */
.about-section{
    background-color: #22282f;
    color: #fff;
    padding: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-section>img{
    width: 400px;
    height: 400px;
    border: 3px solid #b15dff;
    border-radius: 50%;
    box-shadow:  0.5px 0.5px 20px #b15dff ;
}
.about-section-desc{
    max-width: 450px;
}
.my-info{
    color: #b15dff;
}
.about-section-desc h4{
    font-size: 30px;
}
.about-section-desc ul{
    margin-top: 10px;
    margin-bottom: 15px;
    list-style-type: none;
}
.about-section-desc li{
    margin-bottom: 10px;
    color: #ece9e9;
}
.about-section-desc li>b{
    color: #fff;
}
.about-section-desc li>a{
    color: #ece9e9;
    text-decoration: none;
}
.about-section-desc li>a:hover{
    color: #b15dff;
}
/* ----------------work section----------------- */
.work-section{
    background-color: #1b1f24;
    color: #fff;
    padding: 60px;
    text-align: center;
}
.work-section-heading{
    color: #fff;
    font-size: 30px;
    padding-bottom:35px;
}
.heading{
    color: #b15dff;
}
.work-section-box{
    background-color: #22282f;
    padding: 40px;
    text-align: left;
    border-radius: 15px;
    border: 1px solid  #3a4e55;
    max-width: 300px;
    cursor: pointer;
    margin-right: 50px;
}
.work-section-box:hover{
    background-color:  #21252a;
}
.work-section-box i{
    background-color: #b15dff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}
.work-section-box p{
    color: #ccc9c9;
    padding-top: 8px;
    font-size: 13px;
}
.work-section-box a{
    text-decoration: none;
    font-size: 13px;
    color: #bc75fd;
    display: block;
    padding-top: 10px;
}
.work-section-box a:hover{
    color: #dcb6ff;
}
.work-section-div{
    display: flex;
    justify-content: center;
}
/* ----------------------contact section-------------------- */
.contact-section{
    background-color: #21252a;
    padding: 40px;
    color: #fff;
    text-align: center;
}
.contact-section h4{
    font-size: 30px;
    margin: 20px 0;
}
.contact-section-head{
    color: #b15dff;
}
.contact-section form input, textarea{
    padding: 9px 10px;
    outline: none;
    outline: invert;
    color: #b668ff;
    width: 350px;
    background-color: #383939;
    border: 1px solid #b668ff;
    margin-bottom: 18px;
}
/* -----------------footer---------------------- */
footer{
    background-color: #1b1f24;
    padding: 10px;
    text-align: center;
    color: #505151;
}
/* -------------------------media queries------------------------ */
@media screen and (max-width: 600px) {
  
    header{
        flex-direction: column;
        position: absolute;
        padding-top: 10px ;
        padding-bottom: 10px;
    }
    header> *{
        margin-bottom: 10px;
    }
    header button{
        display: none;
    }
    /* hero-section */
    section.hero-img{
        flex-direction: column;
        padding-top: 80px;

    }
    .hero-img img{
        width: 500px;
        padding-bottom: 15px;
    }
    /* about-section */
    section.about-section{
        flex-direction: column;
    }
    .about-section img{
        width: 350px;
        height: 350px;
    }
    .about-section-desc{
        margin-left: 0;
        align-items: center;
        padding-top: 30px;
    }
    .about-section-desc ul li{
        font-size: 13px;
    }
    /* work-section */
    
    .work-section-div{
        flex-direction: column;
        align-items: center;
    }
    .work-section-box{
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0;
    }
    /* contact-section */
    .contact-section form input,textarea{
        flex-direction: column;
        width: 100%;
    }
}